.webDevelopment {
  // height: 500px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;

  #webText {
    // margin-top: 75px;
    padding-left: 40px;
    text-align: center;


      #webTextMainTitle {
        font-size: 300%;
        font-weight: 300;
        text-align: left;
        // font-family: $titlefont;

      }
      // Unused Selector
      // #webTextSubTitle {
      //   font-size: 200%;
      // }

      #webTextContent {
        font-size: 175%;
        font-size: $contentfont;
        text-align: left;
        width: 400px;
      }
  }

  #techTiles {
    display: flex;
    // flex-flow: column wrap;
    flex-wrap: wrap;

    max-height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    // padding-top: 75px;

    .thumbnail {
      // margin-top: 10px;
      // margin-bottom: 10px;
      background-color: white;
      // height: 150px;

      padding: 0px;
      width: 122px;
      border: 0px;

      margin-top: 7px;
      margin-bottom: 7px;
      margin-left: 6px;
      margin-right: 6px;

      .caption{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
      }

      img {
        align-self: center;
        width: 73px;
        height: 81px;
      }

      h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        // font-family: $titlefont;
      }
    }
  }
}
