.home {
  // background-image: url('#{$ImgAssetPath}/home/homeBackground2.jpg');
  background-color: white;
  background-size: auto;
  border: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 925px;
  overflow: auto;



  .rwpWrapper {
    margin-top: 150px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;

    .rwpSentence {
      z-index: 2;
      padding-top: 200px;
      // font-family: $titlefont;
      font-size: 600%;
      position: absolute;
      text-align: center;
      color: white;
    }

    .rwpImgs span {
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50%);
      position: absolute;
      z-index: 1;
      opacity: 0;
      overflow: hidden;

    }

    @keyframes rotateWords {
      0% { opacity: 0; animation-timing-function: ease-in; }
      10% { opacity: 0.50;  }
      20% { opacity: 1; }
      27% { opacity: 0; }
      100% { opacity: 0; }
    }

    .rwpImgs span{
      animation: rotateWords 14s linear infinite 0s;
    }

    .rwpImgs span:nth-child(1) {
      animation-delay: 1s;
    	color: #6b889d;
    }

    .rwpImgs span:nth-child(2) {
      animation-delay: 4s;
    	color: #6b889d;
    }

    .rwpImgs span:nth-child(3) {
      animation-delay: 8s;
    	color: #6b889d;
    }

    .rwpImgs span:nth-child(4) {
      animation-delay: 12s;
    	color: #6b889d;
    }
  }



  a {
    padding-top: 150px;
    position: relative;
    text-align: center;
    z-index: 5;
    display: block;
    opacity: .25;
    // font-family: $titlefont;
    font-size: 150%;
    color: white;
  }

  a:hover {
    padding-top: 150px;
    position: relative;
    text-align: center;
    z-index: 5;
    display: block;
    opacity: 1;
    font-size: 150%;
    color: white;
  }

}
