.foundry_input {
  //css for positioning
  flex-wrap: wrap;
  margin: auto;
  //css for look and feel
  background-color: transparent;
  border-bottom: 2px #EC407A;
  border-style: solid;
  outline: none;

  font-size: 125%;

  //css size requirements
  height: 50px;
  width: 200px;
}
