//Variables for NAV//

$nav-num-element: 5;
$menu-item-width: 80%;

nav.main {
  height: 60px;
  position: fixed;
  top: 0px;
  width: $full-width;
  z-index: 10;
  display: block;
  vertical-align: baseline;


  .content {
    display: block;
    float: left;
    width: $full-width;
    padding-left: 10%;
    padding-right: 5%;
  }



  .menu-cog {
    display: inline-block;
    width: ($menu-item-width / $nav-num-element/ 2);
    float: left;
    position: relative;
    padding-top: 10px;
    padding-right: 30px;

    img {
      height: 40px;
      width: 40px;
      vertical-align: baseline;
    }

  }


  .menu-wrapper {
    vertical-align: baseline;


    .menu {
      position: inline-block;
      list-style-type: none;
      vertical-align: baseline;
      margin: 0;
      padding: 0;
      text-align: center;

      .menu-item {
        float: left;
        height: 60px;
        width: ($menu-item-width / $nav-num-element);
        vertical-align: baseline;
      }
    }
  }

  .menu-link {
    display: block;
    padding-top: 21.5px;
    padding-right: 24px;
    padding-bottom: 21.5px;
    padding-left: 24px;
    font-family: $titlefont;
    font-weight: 500;
    font-size: 12.1px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }


  .menu-link:hover {
    background-color: black;
    color: white;
    -webkit-transition: background-color .50s linear;
    -moz-transition: background-color .50s linear;
    -ms-transition: background-color .50s linear;
    -o-transition: background-color .50s linear;
    transition: background-color .50s linear;
  }
}


.is-transparent {
  background-color: transparent;
  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  transition: background-color .25s linear;
}



.is-filled-white {

  background-color: transparentize(white, .10);
  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  transition: background-color .25s linear;
}










//****************************************************************************
//CSS for inactive and active states of the mainNavbar

// #inactive {
//   background-color: transparent;
//   margin-bottom: auto;
//   position: fixed;
//   -webkit-transition: background-color .25s linear;
//   -moz-transition: background-color .25s linear;
//   -ms-transition: background-color .25s linear;
//   -o-transition: background-color .25s linear;
//   transition: background-color .25s linear;
//
//   .inside-nav {
//     margin-top: 50px;
//     padding-bottom: 30px;
//     margin-top: 50px;
//     padding-bottom: 30px;
//     -webkit-transition:  .35s linear;
//     -moz-transition:  .35s linear;
//     -ms-transition:  .35s linear;
//     -o-transition:  .35s linear;
//     transition:  .35s linear;
//   }
//
// },
//
// #active  {
//   background-color: transparentize(white, .25);
//   margin-bottom: auto;
//   -webkit-transition: background-color .25s linear;
//   -moz-transition: background-color .25s linear;
//   -ms-transition: background-color .25s linear;
//   -o-transition: background-color .25s linear;
//   transition: background-color .25s linear;
//
//   .inside-nav {
//     margin-top: 0px;
//     padding-bottom: 0px;
//     -webkit-transition:  .35s linear;
//     -moz-transition:  .35s linear;
//     -ms-transition:  .35s linear;
//     -o-transition:  .35s linear;
//     transition:  .35s linear;
//
//   }
// }
//
// //CSS for inactive and active states of the mainNavbar
// //****************************************************************************
//
// //Styling for mainNavbar and its elements
//
//
// //CSS for the whole Navbar element - ************************
// .inside-nav {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//
//
// //Styling for the Future Foundry brand text - ***************
//
//   .navbar-brand {
//     // font-family: 'Muli';
//     font-weight: 100;
//     color: white;
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-left: 10px;
//     margin-right: 300px;
//   }
//
// //Nav element styling - *************************************
//   // ul.nav li a:hover {
//   //   background-color:transparent !important;
//   //   color: $tcolor-dark !important;
//   //   box-sizing: none;
//   //   text-decoration: none;
//   //   text-decoration-color: none;
//   //   text-decoration-style: none;
//   // }
//
//   ul.nav li a {
//     // font-family: 'Muli' ;
//     font-weight: lighter;
//     font-size: 115%;
//     color: white;
//   }
//
// //ContactUSBtn styling - *************************************
//   #ContactUsBtn:hover {
//     background-color: white;
//     a {
//       text-align: center;
//       text-decoration: none;
//       color: $pcolor-dark;
//       font-weight: bolder;
//       text-decoration-color: none;
//       text-decoration-style: none;
//     }
//   }
//
//   #ContactUsBtn {
//     // font-family: 'Muli';
//     background-color: transparent;
//     border-radius: 0;
//     border-width: 1px;
//     border-color: white;
//   }
//
//
//
// }
