//default asset directory
$ImgAssetPath: '../assets/img';
$MediaAssetPath: '../assets/media';


//*Mobile*//
@media(min-width:768px) and (max-width:991px){
  .show-m {
    display:inline-flex;
  }
  .hide-m {
    display: none;
  }
}

//*Tablet*//
@media(min-width:992px) and (max-width:1199px){
  .show-t {
    display:inline-flex;
  }
  .hide-t {
    display: none;
  }
}

//*Desktop*//
@media(min-width:1200px){
  .show-d {
    display:inline-flex;
  }
  .hide-d {
    display: none;
  }
}








header {
  overflow-y: scroll;
}

body {
  overflow-y: scroll;
}

font-family {
  font-family: 'Muli';
  font-family: 'Oxygen';
}


$pcolor-dark: #5D7B93;
$tcolor-dark: #D90368;


$titlefont: 'Muli';
$contentfont: 'Oxygen';

//Comment element classes
@import './elements/elements_style';


//Import of feature style sheets
@import './navs/nav';
@import './home/home';
@import './services/services';
@import './footer/footer';
