//default asset directory
$ImgAssetPath: '../assets/img';
$MediaAssetPath: '../assets/media';

//Scale//
$full-width: 100%;



header {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

$pcolor-dark: #5D7B93;
$tcolor-dark: #D90368;

$titlefont-bold: 'OpenSans-Semibold';
$titlefont-regular: 'OpenSans-Regular';
$contentfont-regular: 'Roboto-Regular';

//put this in there so the page woud re-render. $contentfont is deprecated
//and I was too lazy to look for it in deprecated files.

$contentfont: 'Nothing';

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  src: url('../assets/fonts/Roboto/Roboto-regular.ttf') format('truetype')
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: normal;
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'OpenSans-Semibold';
  font-weight: normal;
  src: url('../assets/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype')
}


h1, h2, h3, h4, h5, p, a {
  font-family: 'Roboto';
}
p{

}

//**********SCSS Library Import//
@import './lib/include-media';



//********** mixins for vendors *************//

//fade-in transition//
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}



//Import of feature style sheets
@import './nav';
@import './components/home';
@import './components/development';
@import './footer';
