//default asset directory
$ImgAssetPath: '../assets/img';
$MediaAssetPath: '../assets/media';

//Scale//
$full-width: 100%;



header {
  overflow-y: scroll;
}

body {
  overflow-y: scroll;
}




$pcolor-dark: #5D7B93;
$tcolor-dark: #D90368;


$titlefont: 'Muli';
$contentfont: 'Oxygen';

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Roboto-regular/Roboto-regular.eot');
  src: url('../assets/fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('../assets/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('../assets/fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('../assets/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('../assets/fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}


h1, h2, h3, h4, h5, p, a {
  font-family: 'Roboto';
}
p{

}



//Import of feature style sheets
@import './nav';
@import './components/home';
@import './components/development';
@import './footer';
