.contactContainer {
  margin-top: 150px;
  height: auto;
  display: flex;
  flex-direction: column;



//CSS for splash text
  .contact-text {
    h1 {
      font-family: 'Roboto';
      font-size: 300%;
      color: $primary-text-color;
      margin:auto;
      // text-shadow: 3px 3px 10px $primary-color-dark;
      text-align: center;
    }
    p {
      font-family: 'Roboto';
      font-size: 300%;
      color: $primary-text-color;
      margin-left: 65px;
      // text-shadow: 3px 3px 10px $primary-color-dark;
      text-align: center;
    }
  }


//CSS for Contact Form
  .ContactUsBtn {
    //Positioning CSS
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //Styling CSS
  }


  .contact-form {
    background-color: transparentize($primary-color-light, .25);
    margin: auto;
    width: Auto;
    max-width: 450px;
    height: auto;
    padding: 0px;
    align-self: center;


  //Form Header CSS
    p {
      background-color: $primary-color-dark;
      font-family: 'Roboto';
      font-size: 300%;
      color: white;
      text-align: center;
      padding: 0px;
    }
  /**************************************/

  //Form Inputs CSS
    .contactInput {
      display: inline-flex;
      text-indent: 10px;
      font-family: "Roboto";

    }

    .contactDescription{
      margin-left: 5px;
      margin-right: 5px;
    }
  /***************************************/

  }
}
