.home {
  background-image: url('#{$ImgAssetPath}/home/homeBackground2.jpg');
  background-size: auto;
  border: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 925px;
  overflow: auto;

  @import 'contact';
  @import 'service_tiles';

}
