.home {
  background-image: url('#{$ImgAssetPath}/home/homeBackground2.jpg');
  background-size: auto;
  max-width: 100%;
  min-height: 925px;
  position: absolute;

  @import 'splash';
  @import 'service_tiles';

}
