.splash-container {
  margin-top: 200px;
  width: auto;
  height: auto;

//CSS for splash text
  #splash-text  {

    #splash-title {

    }

    #splash-content {
      font-family: 'Roboto';
      font-size: 300%;
      color: $primary-text-color;
      margin-left: 65px;
      // text-shadow: 3px 3px 10px $primary-color-dark;
      text-align: left;
    }
  }


//CSS for Contact Form
  #splash-form {
    background-color: transparentize($primary-color-dark, .25);
    width: 800px;
    height: 400px;
    border-radius: 25px;

    h1 {
      font-family: 'Roboto';
      color: white;
    }
    #contact-input {
      height: 40px;
      width: auto;
    }
  }
}
