.splash {
  .container {
    display: flex;
    flex-direction: row;

    #splash_text {

      font-family: 'Roboto';
      font-size: 300%;
      padding-top: 200px;
      position: center;
      color: $primary-text-color;
      // text-shadow: 3px 3px 10px $primary-color-dark;
      text-align: center;
    }
  }
}
