.foundryInput {
  //css for positioning
  flex-wrap: wrap;
  margin: auto;
  display: inline-flex;
  //css for look and feel
  background-color: transparent;


  font-size: 125%;

  //css size requirements
  height: 50px;
  width: 150px;
}
