.main_header {
  .navbar-fixed-top {
    width: auto;
    height: 75px;
  }
  #inactive {
    background-color: transparent;
    margin-bottom: auto;
    border: 0;
    position: fixed;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    transition: background-color .5s linear;

  },

  #active  {
    background-color: $primary_color1;
    margin-bottom: auto;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    transition: background-color .5s linear;
  }

  .brand {
    width: auto;
    font-family:'Roboto';
    font-size: 300%;
    color: black;
    padding: 6px;
    margin-left: 100px;
    text-shadow: 2px 2px 2px black;



  }


}
