//importing stylesheets

//default asset directory
$ImgAssetPath: '../assets/img';
$MediaAssetPath: '../assets/media';

font-family {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;

}

$primary_color1: white;
$hightlight_color1: #e62739;

@import 'header';
@import './home/home_style';
@import 'technology';
@import 'counter';
