//importing stylesheets

//default asset directory
$ImgAssetPath: '../assets/img';
$MediaAssetPath: '../assets/media';

font-family {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;

}

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

//Project CSS Properties



//Input Field CSS Class
.foundry-input {
  background: transparentize($primary-color-dark, .5);
  border-width: 1.5px;
  border-style: solid;
  border-color: white;
}


@import './header/header_style';
@import './home/home_style';
@import './services/services_style';
@import './counter/counter_style';
