#inactive {
  background-color: transparent;
  margin-bottom: auto;
  position: fixed;
  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  transition: background-color .25s linear;

  .inside-nav {
    margin-top: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
    padding-bottom: 30px;
    -webkit-transition:  .35s linear;
    -moz-transition:  .35s linear;
    -ms-transition:  .35s linear;
    -o-transition:  .35s linear;
    transition:  .35s linear;
  }

},

#active  {
  background-color: transparentize($pcolor-dark, .25);
  margin-bottom: auto;
  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  transition: background-color .25s linear;

  .inside-nav{
    margin-top: 0px;
    padding-bottom: 0px;
    -webkit-transition:  .35s linear;
    -moz-transition:  .35s linear;
    -ms-transition:  .35s linear;
    -o-transition:  .35s linear;
    transition:  .35s linear;

  }
}

.inside-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;


  .brand {
    font-family: 'Muli';
    font-weight: 100;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 300px;
  }

  ul.nav li a:hover {
    background-color:transparent !important;
    color: $tcolor-dark !important;
  }

  ul.nav li a {
    margin-right: 30px;
    font-family: 'Muli' ;
    font-weight: lighter;
    font-size: 115%;
    color: white;
  }

  #ContactUsBtn:hover {
    background-color: white;
    color: $pcolor-dark;
    font-weight: bolder;
  }

  #ContactUsBtn {
    font-family: 'Muli';
    margin-top: 2px;
    background-color: transparent;
    border-radius: 0;
    border-width: 1px;
    border-color: white;
  }

}
